@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  font-family: "メイリオ", Meiryo UI, Meiryo, Osaka, YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "HIragino Kaku Gothic Pro W3", "HIragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  color: #333;
  background-color: #fdfcf9;
  font-size: 14px;
  font-size: 1.4rem;
  border-top: 5px solid #26499d; }

#headerwrap {
  width: 96%;
  max-width: 1024px;
  margin: 0px auto 20px;
  display: flex;
  justify-content: space-between; }
  #headerwrap #pc_title_logo {
    width: 20%; }
    #headerwrap #pc_title_logo p {
      margin-top: 7px;
      font-size: 13px;
      font-size: 1.3rem; }
  #headerwrap #sp_title_logo {
    display: none; }
  #headerwrap #head_navi {
    text-align: right; }
    #headerwrap #head_navi ul.head_contact_pc li {
      display: inline-block;
      font-size: 15px;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 5px 0 20px 20px;
      color: #26499d; }
      #headerwrap #head_navi ul.head_contact_pc li a {
        color: #26499d;
        text-decoration: none; }
      #headerwrap #head_navi ul.head_contact_pc li .access_button {
        background-color: #26499d;
        border-radius: 2px;
        color: #fff;
        padding: 1px 6px;
        font-size: 14px;
        font-size: 1.4rem; }
    #headerwrap #head_navi ul.head_nav li {
      display: inline-block;
      font-size: 15px;
      font-size: 1.5rem;
      font-weight: bold;
      width: 160px;
      border-right: 1px solid #333;
      border-bottom: 2px solid #fdfcf9;
      text-align: center;
      padding: 2px 0;
      position: relative; }
    #headerwrap #head_navi ul.head_nav a {
      color: #333;
      text-decoration: none; }
    #headerwrap #head_navi ul.head_nav li.about {
      border-left: 1px solid #333; }
    #headerwrap #head_navi ul.head_nav li:hover {
      border-bottom: 3px solid #8ba4de; }
    #headerwrap #head_navi ul.navichild {
      background-color: #c7d3ef;
      border-top: 10px solid #fdfcf9;
      position: absolute;
      width: 160px;
      padding: 7px 0;
      box-sizing: border-box;
      margin-top: 5px;
      display: none; }
      #headerwrap #head_navi ul.navichild li {
        display: block;
        text-align: left;
        width: 180px;
        height: 20px;
        padding: 10px 0 0 10px;
        border-right: none;
        border-bottom: none; }
      #headerwrap #head_navi ul.navichild li:hover {
        border-bottom: none; }
      #headerwrap #head_navi ul.navichild a {
        font-size: 13px;
        font-size: 1.3rem;
        font-weight: normal; }
      #headerwrap #head_navi ul.navichild a:hover {
        text-decoration: underline; }
  #headerwrap #head_navi_sp {
    display: none; }

#cover_area {
  background-image: url("../images/top/top-heroimage.jpg");
  background-position: center center;
  background-size: cover; }
  #cover_area .cover_content {
    width: 96%;
    max-width: 1024px;
    margin: 0 auto;
    height: 426px; }
    #cover_area .cover_content .cover_title {
      padding-top: 40px; }
      #cover_area .cover_content .cover_title .readmore {
        background-color: #26499d;
        padding-top: 6px;
        text-decoration: none;
        color: #fff;
        border-radius: 10px;
        font-size: 14px;
        font-size: 1.4rem;
        display: block;
        width: 100px;
        height: 20px;
        text-align: center;
        margin-top: 10px; }
      #cover_area .cover_content .cover_title a:hover {
        background-color: #8ba4de; }
    #cover_area .cover_content .seal {
      text-align: right; }
      #cover_area .cover_content .seal .seal_sp {
        display: none; }

#from_issue {
  background-color: #8ba4de; }

.wrap_issue {
  height: 130px;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .wrap_issue .issue {
    text-align: right;
    margin: 0 10px; }
    .wrap_issue .issue a {
      text-decoration: none;
      font-size: 16px;
      font-size: 1.6rem;
      color: #fff;
      font-weight: bold;
      display: block;
      padding: 4px; }
    .wrap_issue .issue a:hover {
      text-decoration: underline; }
  .wrap_issue .letscontact {
    margin: 0 20px; }
    .wrap_issue .letscontact a {
      text-decoration: none;
      line-height: 1.5;
      color: #fff; }
  .wrap_issue .underline {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 2;
    font-weight: bold;
    border-bottom: 3px solid #fff; }
  .wrap_issue .arrow {
    margin: 0 20px; }

#survicecategory {
  max-width: 1024px;
  margin: 60px auto;
  text-align: center; }
  #survicecategory p.read {
    margin: 20px 4px;
    font-size: 16px;
    font-size: 1.6rem; }
  #survicecategory .survice_wrap {
    display: flex; }
    #survicecategory .survice_wrap .survice {
      width: 25%;
      margin: 20px;
      text-decoration: none;
      color: #333; }
      #survicecategory .survice_wrap .survice h3.catename {
        font-size: 19px;
        font-size: 1.9rem;
        margin-bottom: 16px;
        color: #26499d;
        letter-spacing: 0.2rem; }
      #survicecategory .survice_wrap .survice p.catetext {
        line-height: 1.5;
        font-size: 14px;
        font-size: 1.4rem; }
  #survicecategory .survice_wrap_sp {
    display: none; }

.top_sectiontitle {
  border-bottom: 3px solid #c9c9c9;
  display: inline-block;
  position: relative;
  height: 40px;
  font-size: 36px;
  font-size: 3.6rem; }

.top_sectiontitle:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #26499d;
  bottom: -3px;
  width: 20%; }

#detail_button {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-size: 1.4rem;
  display: block;
  width: 200px;
  height: 20px;
  margin: 20px auto;
  padding: 7px 0 0 0;
  border: 1px solid #333;
  border-radius: 14px; }

#prmenu {
  width: 96%;
  max-width: 1024px;
  margin: 60px auto; }

.prmenu_title {
  margin-bottom: 15px; }
  .prmenu_title .sikaku, .prmenu_title p, .prmenu_title h3 {
    display: inline-block; }
  .prmenu_title .sikaku {
    width: 20px;
    height: 6px;
    background-color: #26499d; }
  .prmenu_title h3 {
    font-size: 20px;
    font-size: 2rem; }
  .prmenu_title p {
    font-size: 15px;
    font-size: 1.5rem;
    margin-left: 20px; }

.menues_wrap {
  display: flex;
  flex-wrap: wrap;
  background-color: #26499d; }
  .menues_wrap li {
    width: 25%;
    height: 45px;
    border: 1px solid #fff;
    box-sizing: border-box;
    text-align: center;
    padding-top: 16px; }
  .menues_wrap a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-size: 1.5rem; }

#recommend {
  background-color: #e5e5e5; }
  #recommend a {
    text-decoration: none;
    color: #333; }

.recommends_wrap {
  width: 98%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .recommends_wrap .content_thumbnail_1, .recommends_wrap .content_thumbnail_2, .recommends_wrap .content_thumbnail_3 {
    width: 33.33%;
    margin: 20px 10px;
    background-color: #fff; }
    .recommends_wrap .content_thumbnail_1 .content_thumbnail_image, .recommends_wrap .content_thumbnail_2 .content_thumbnail_image, .recommends_wrap .content_thumbnail_3 .content_thumbnail_image {
      height: 130px;
      text-align: center; }
      .recommends_wrap .content_thumbnail_1 .content_thumbnail_image img, .recommends_wrap .content_thumbnail_2 .content_thumbnail_image img, .recommends_wrap .content_thumbnail_3 .content_thumbnail_image img {
        max-width: 100%; }
    .recommends_wrap .content_thumbnail_1 h3, .recommends_wrap .content_thumbnail_2 h3, .recommends_wrap .content_thumbnail_3 h3 {
      font-size: 20px;
      font-size: 2rem;
      padding: 20px;
      height: 20px;
      text-align: center;
      line-height: 2rem; }
    .recommends_wrap .content_thumbnail_1 P, .recommends_wrap .content_thumbnail_2 P, .recommends_wrap .content_thumbnail_3 P {
      padding: 20px;
      line-height: 2.2rem; }

.recommends_wrap_sp {
  display: none; }

#news {
  width: 96%;
  max-width: 1024px;
  margin: 50px auto 80px;
  text-align: center; }
  #news .news_table {
    text-align: left;
    margin-top: 30px; }
  #news .news_table th {
    width: 120px;
    padding: 10px;
    font-size: 15px;
    font-size: 1.5rem; }
  #news .news_table td {
    line-height: 2rem;
    padding: 10px; }
    #news .news_table td span {
      font-weight: bold; }

#news_sp {
  display: none; }

#links {
  max-width: 1024px;
  background: linear-gradient(90deg, #e5e5e5, #8ba4de, #e5e5e5);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px; }
  #links .link_banner_pc {
    display: inline-block;
    margin: 0 10px; }
  #links .link_banner_sp {
    display: none; }

footer {
  margin-top: 50px; }
  footer .gotop {
    text-align: right;
    width: 96%;
    max-width: 1024px;
    margin: 0 auto 10px; }
  footer .footercolor {
    background-color: #8ba4de; }
  footer #footnavi {
    width: 96%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 0; }
    footer #footnavi .footwrap1 {
      display: flex;
      justify-content: space-between; }
      footer #footnavi .footwrap1 div {
        width: 23%; }
        footer #footnavi .footwrap1 div h3 {
          color: #fff;
          font-weight: bold;
          margin-bottom: 30px;
          border-top: 1px solid #fff;
          padding-top: 10px; }
        footer #footnavi .footwrap1 div a {
          display: block;
          text-decoration: none;
          color: #fff;
          line-height: 3rem; }
        footer #footnavi .footwrap1 div a:hover {
          text-decoration: underline; }
        footer #footnavi .footwrap1 div .tanabe {
          color: #fff;
          font-weight: bold;
          border-top: 1px solid #fff;
          padding-top: 10px;
          margin-top: 20px;
          line-height: 2rem; }
    footer #footnavi .footwrap2 {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      footer #footnavi .footwrap2 .policy li {
        display: inline-block; }
      footer #footnavi .footwrap2 .policy a {
        text-decoration: none;
        color: #fff;
        padding: 3px 6px;
        font-size: 12px;
        font-size: 1.2rem; }
      footer #footnavi .footwrap2 .policy li + li {
        border-left: #fff 1px solid; }
      footer #footnavi .footwrap2 .foot_address {
        display: flex;
        width: 55%; }
        footer #footnavi .footwrap2 .foot_address p {
          margin-left: 20px;
          color: #fff;
          line-height: 1.5rem;
          font-size: 13px;
          font-size: 1.3rem; }
    footer #footnavi .footwrap3 {
      display: none; }
    footer #footnavi .copyright {
      text-align: right;
      margin-top: 10px;
      color: #fff;
      font-size: 13px;
      font-size: 1.3rem; }

/*企業案内ページ---------------------------
---------------------------------------------------*/
.max-width {
  width: 96%;
  max-width: 1024px;
  margin: 0 auto 8px; }

.breadcrumb li {
  display: inline;
  /*横に並ぶように*/
  list-style: none;
  font-size: 12px;
  font-size: 1.2rem; }

.breadcrumb li:after {
  /* >を表示*/
  content: '>';
  padding: 0 3px;
  color: #26499d; }

.breadcrumb li:last-child:after {
  content: ''; }

.breadcrumb li a {
  text-decoration: none;
  color: #26499d; }

.breadcrumb li a:hover {
  text-decoration: underline; }

.cover_area_about {
  background-image: url("../images/about/cover_about.jpg");
  background-size: cover;
  height: 200px; }
  @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .cover_area_about {
      background-image: url("../images/about/cover_about@2x.jpg"); } }

.page_title {
  text-align: center;
  font-size: 30px;
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  padding-top: 100px;
  letter-spacing: 0.5rem; }

#content {
  width: 96%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex; }
  #content article {
    width: 75%; }
  #content aside {
    width: 25%; }

#content .spirit {
  padding-right: 30px; }
  #content .spirit h2 {
    font-size: 23px;
    font-size: 2.3rem;
    color: #26499d;
    line-height: 1.5;
    border-left: 9px solid #26499d;
    padding-left: 10px;
    margin: 60px 0 30px 0; }
  #content .spirit p {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 2; }
  #content .spirit span {
    display: block;
    font-size: 18px;
    font-size: 1.8rem; }
  #content .spirit .require {
    margin-bottom: 40px; }
    #content .spirit .require span {
      font-size: 30px;
      font-size: 3rem;
      display: inline;
      padding-right: 20px;
      padding-left: 10px; }
    #content .spirit .require h3 {
      font-size: 20px;
      font-size: 2rem;
      display: inline; }
    #content .spirit .require p {
      margin-top: 6px;
      padding-top: 4px;
      border-top: 1px solid #333; }
#content .about {
  padding-right: 30px; }
  #content .about .companyprofile_wrap {
    margin: 50px 0 100px; }
    #content .about .companyprofile_wrap .about_subtitle {
      font-size: 16px;
      font-size: 1.6rem;
      color: #26499d;
      font-weight: bold;
      margin-bottom: 20px; }
    #content .about .companyprofile_wrap .companyprofile {
      width: 100%; }
      #content .about .companyprofile_wrap .companyprofile tr {
        border-bottom: 1px solid #a6a6a6; }
      #content .about .companyprofile_wrap .companyprofile th {
        padding: 10px 0;
        text-align: left;
        font-weight: bold;
        line-height: 1.5; }
      #content .about .companyprofile_wrap .companyprofile td {
        vertical-align: middle;
        padding: 10px;
        line-height: 1.5; }
    #content .about .companyprofile_wrap .exective_profile {
      padding: 20px 30px 0px;
      background-color: #e6e6e6; }
    #content .about .companyprofile_wrap .profile_wrap {
      margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: 2px solid #fff; }
      #content .about .companyprofile_wrap .profile_wrap P {
        line-height: 1.5; }
      #content .about .companyprofile_wrap .profile_wrap .name {
        letter-spacing: 0.2rem;
        margin-bottom: 10px; }
        #content .about .companyprofile_wrap .profile_wrap .name span {
          font-size: 17px;
          font-size: 1.7rem; }
      #content .about .companyprofile_wrap .profile_wrap img {
        float: right;
        margin-left: 10px; }
      #content .about .companyprofile_wrap .profile_wrap .biography {
        clear: both;
        background-color: #fff;
        border-radius: 3px;
        padding: 5px;
        margin-top: 10px;
        font-size: 12px;
        font-size: 1.2rem; }
    #content .about .companyprofile_wrap .map {
      width: 100%;
      height: 400px;
      background-color: #cfd9f3;
      text-align: center;
      line-height: 400px;
      margin-bottom: 20px; }
    #content .about .companyprofile_wrap .entrance {
      float: right; }
    #content .about .companyprofile_wrap .accesstext {
      line-height: 1.5;
      padding-left: 20px; }
      #content .about .companyprofile_wrap .accesstext p {
        margin-bottom: 8px;
        font-size: 15px;
        font-size: 1.5rem;
        color: #26499d; }
        #content .about .companyprofile_wrap .accesstext p span {
          background-color: #26499d;
          padding: 1px 15px;
          border-radius: 14px;
          color: #fff;
          font-size: 12px;
          font-size: 1.2rem;
          line-height: 2; }
    #content .about .companyprofile_wrap .contact {
      border: 1px solid #26499d;
      margin: 10px;
      padding: 20px 10px;
      color: #26499d;
      height: 60px;
      text-align: center; }
      #content .about .companyprofile_wrap .contact span {
        font-size: 34px;
        font-size: 3.4rem; }
      #content .about .companyprofile_wrap .contact h2 {
        font-size: 30px;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 10px; }
      #content .about .companyprofile_wrap .contact a {
        text-decoration: none;
        color: #26499d; }
      #content .about .companyprofile_wrap .contact .time {
        font-size: 16px;
        font-size: 1.6rem; }
      #content .about .companyprofile_wrap .contact .mail {
        font-size: 26px;
        font-size: 2.6rem;
        margin-top: 10px; }

#sidemenu {
  margin-top: 50px;
  margin-left: 20px; }
  #sidemenu a {
    text-decoration: none;
    color: #333;
    line-height: 1.5;
    font-size: 13px;
    font-size: 1.3rem; }
    #sidemenu a li {
      border-left: 1px #333 solid;
      border-right: 1px #333 solid;
      border-bottom: 1px #333 solid;
      padding: 10px;
      background-image: url("../images/common/allowright.png");
      background-repeat: no-repeat;
      background-position: 95% 50%; }
    #sidemenu a li.sidemenu1 {
      border-top: 1px #333 solid;
      border-left: 1px #333 solid;
      border-right: 1px #333 solid; }
  #sidemenu a:hover li {
    background-color: #ededed; }

/*サービスページ---------------------------
---------------------------------------------------*/
.cover_area_survice {
  background-image: url("../images/survice/prsurvicecover.jpg");
  background-size: cover;
  height: 200px; }
  @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .cover_area_survice {
      background-image: url("../images/survice/prsurvicecover@2x.jpg"); } }
  .cover_area_survice .page_title {
    text-align: center;
    font-size: 30px;
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    padding-top: 100px;
    letter-spacing: 0.5rem; }

/*代表ブログ---------------------------
---------------------------------------------------*/
.cover_area_kimiblog {
  background-image: url("../images/blog/kimiblog-cover.jpg");
  background-size: cover;
  height: 200px; }
  @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .cover_area_kimiblog {
      background-image: url("../images/blog/kimiblog-cover@2x.jpg"); } }
  .cover_area_kimiblog .cover_title_kimi {
    max-width: 1024px;
    margin: 0 auto; }
  .cover_area_kimiblog .page_title {
    text-align: left;
    font-size: 30px;
    font-size: 3rem;
    color: #fff;
    padding-top: 40px;
    letter-spacing: 0.5rem; }
  .cover_area_kimiblog img {
    margin-top: 20px;
    float: left; }
  .cover_area_kimiblog p {
    color: #fff;
    margin: 70px 0 0 110px;
    line-height: 1.5;
    letter-spacing: 0.2rem; }

#content {
  justify-content: space-between; }
  #content #kimiblog {
    max-width: 700px; }
  #content .widget {
    width: 240px; }

#kimiblog {
  margin-top: 50px; }
  #kimiblog span {
    margin-left: 30px;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 3; }
  #kimiblog .kimiblogcate {
    padding: 0 10px;
    width: 60px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 10px;
    font-size: 11px;
    font-size: 1.1rem; }
  #kimiblog .blog-title img {
    float: left;
    margin-bottom: 10px; }
  #kimiblog .blog-title h2 {
    font-size: 26px;
    font-size: 2.6rem;
    font-weight: bold;
    padding: 30px 0 50px 270px; }
  #kimiblog .blog-title p {
    clear: both;
    border-top: 1px solid #333;
    padding-top: 40px;
    line-height: 2;
    letter-spacing: 0.1rem; }
  #kimiblog .page_navi {
    text-align: center;
    margin-top: 50px; }
    #kimiblog .page_navi a {
      text-decoration: none;
      color: #333;
      width: 180px;
      height: 20px;
      line-height: 20px;
      border: 1px solid #a6a6a6;
      padding: 10px 30px;
      display: inline-block; }
    #kimiblog .page_navi .goprevious {
      text-align: right; }
    #kimiblog .page_navi .gonext {
      text-align: left; }
    #kimiblog .page_navi .goindex {
      margin-top: 20px;
      width: 100px;
      height: 14px;
      line-height: 14px;
      padding: 5px;
      border-radius: 6px; }
  #kimiblog .snsbutton {
    text-align: center;
    margin-top: 30px; }

.widget {
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 50px; }
  .widget .widget-item {
    height: 200px;
    background-color: #c5c5c5;
    margin-bottom: 10px; }
  .widget .gotococolunch {
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #e44da1;
    text-align: center;
    height: 20px;
    line-height: 20px;
    padding: 10px;
    display: block; }

#kimiblog .blog-index img {
  float: right;
  margin-bottom: 20px; }
#kimiblog .blog-index li {
  clear: both;
  border-bottom: 1px solid #c5c5c5;
  height: 110px; }
  #kimiblog .blog-index li a {
    text-decoration: none;
    color: #333; }
#kimiblog .blog-index span {
  margin: 0; }
#kimiblog .blog-index h3 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 10px; }
#kimiblog .blog-index .kimiblogcate {
  font-size: 11px;
  font-size: 1.1rem; }
#kimiblog #detail_button {
  height: 12px;
  line-height: 12px;
  border-radius: 20px; }

.cover_area_blog .page_title {
  box-sizing: border-box;
  background-color: #8ba4de;
  height: 120px;
  padding-top: 50px; }
.cover_area_blog .blog_navi {
  text-align: center;
  box-sizing: border-box;
  background-color: #26499d;
  height: 60px;
  padding-top: 15px; }
  .cover_area_blog .blog_navi a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    height: 30px;
    line-height: 30px;
    background-color: #3f6ad1;
    padding: 0 20px;
    margin: 0 10px;
    border-radius: 4px; }

#blogindex_wrap {
  max-width: 1024px;
  margin: 50px auto; }
  #blogindex_wrap .blogindex {
    display: flex;
    flex-wrap: wrap; }
    #blogindex_wrap .blogindex li {
      width: 33.33%; }
      #blogindex_wrap .blogindex li img {
        width: 100%; }
      #blogindex_wrap .blogindex li a {
        background-color: #fff;
        display: block;
        margin: 3%;
        box-shadow: 1px 1px 5px #a6a6a6;
        text-decoration: none;
        color: #333; }
        #blogindex_wrap .blogindex li a .text {
          padding: 15px; }
          #blogindex_wrap .blogindex li a .text .blogname {
            background-color: #00a0e9;
            border-radius: 6px;
            font-size: 11px;
            font-size: 1.1rem;
            text-align: center;
            color: #fff;
            padding: 0 10px;
            height: 16px;
            line-height: 16px; }
          #blogindex_wrap .blogindex li a .text h2 {
            font-size: 16px;
            font-size: 1.6rem;
            margin: 10px 0;
            font-weight: bold; }
          #blogindex_wrap .blogindex li a .text p {
            font-size: 13px;
            font-size: 1.3rem;
            line-height: 1.5;
            margin-bottom: 20px; }
          #blogindex_wrap .blogindex li a .text .date {
            font-size: 12px;
            font-size: 1.2rem; }
          #blogindex_wrap .blogindex li a .text .coco {
            background-color: #e44da1; }
  #blogindex_wrap #detail_button {
    text-align: center; }

/*PRとはページ---------------------------
---------------------------------------------------*/
.cover_area_whatispr {
  background-image: url("../images/whatispr/whatisprcover.jpg");
  background-size: cover;
  height: 200px; }
  @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .cover_area_whatispr {
      background-image: url("../images/whatispr/whatisprcover@2x.jpg"); } }

.whatispr_navi_area {
  background-color: #26499d;
  height: 60px; }
  .whatispr_navi_area .whatispr_navi {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .whatispr_navi_area .whatispr_navi li {
      display: inline-block;
      box-sizing: border-box;
      padding: 20px 0;
      background-color: #547ad5;
      width: 240px;
      height: 50px;
      margin: 5px 10px;
      border-radius: 6px;
      text-align: center; }
    .whatispr_navi_area .whatispr_navi a {
      text-decoration: none;
      color: #fff; }
    .whatispr_navi_area .whatispr_navi .a2l {
      padding: 7px 0;
      line-height: 1.3; }
      .whatispr_navi_area .whatispr_navi .a2l span {
        font-size: 10px;
        font-size: 1rem; }

#content_prqa {
  width: 758px;
  margin: 50px auto; }
  #content_prqa .read {
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 15px;
    font-size: 1.5rem; }
  #content_prqa .q_area {
    width: 758px;
    box-sizing: border-box;
    background-color: #eee;
    padding: 50px;
    color: #26499d;
    font-size: 16px;
    font-size: 1.6rem; }
    #content_prqa .q_area .q_list {
      width: 100%; }
      #content_prqa .q_area .q_list tr {
        border-bottom: 1px solid #26499d; }
        #content_prqa .q_area .q_list tr th, #content_prqa .q_area .q_list tr td {
          padding: 15px 5px;
          line-height: 1.2; }
          #content_prqa .q_area .q_list tr th a, #content_prqa .q_area .q_list tr td a {
            text-decoration: none;
            color: #26499d; }
            #content_prqa .q_area .q_list tr th a:hover, #content_prqa .q_area .q_list tr td a:hover {
              color: #4169e1; }
        #content_prqa .q_area .q_list tr th {
          font-weight: bold; }
      #content_prqa .q_area .q_list th:after {
        /* borderを表示*/
        content: '';
        padding: 0 5px;
        border-right: 1px solid #26499d; }
  #content_prqa .qnumber {
    text-align: center;
    margin-bottom: 20px; }
    #content_prqa .qnumber p {
      font-size: 20px;
      font-size: 2rem;
      padding: 0 10px 5px;
      border-bottom: 5px solid #26499d;
      width: 40px;
      display: inline-block; }
  #content_prqa h2 {
    text-align: center;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 1px solid #26499d;
    margin-bottom: 40px; }
  #content_prqa p {
    line-height: 2; }
  #content_prqa .page_navi {
    text-align: center;
    margin-top: 50px; }
    #content_prqa .page_navi .pnaviarea {
      display: inline-block;
      width: 400px;
      height: 50px;
      background-color: #eee;
      padding-top: 10px; }
    #content_prqa .page_navi .goindex {
      display: inline-block;
      margin-top: 20px;
      width: 100px;
      height: 14px;
      line-height: 14px;
      padding: 5px;
      border-radius: 6px;
      border: 1px solid #333;
      text-decoration: none;
      color: #333; }

/* mobile 設定 toppage----------------------------------------
------------------------------------------------------*/
@media (max-width: 645px) {
  #headerwrap {
    width: 100%;
    padding: 0 10px;
    margin: 0;
    box-sizing: border-box; }
    #headerwrap #pc_title_logo {
      display: none; }
    #headerwrap #sp_title_logo {
      display: block;
      width: 80%; }
      #headerwrap #sp_title_logo p {
        margin-top: 5px;
        font-size: 14px;
        font-size: 1.4rem; }
    #headerwrap #head_navi {
      display: none; }
    #headerwrap #head_navi_sp {
      display: block; }
      #headerwrap #head_navi_sp ul.head_contact_sp li {
        display: inline-block;
        padding: 0 5px; }
        #headerwrap #head_navi_sp ul.head_contact_sp li a {
          color: #26499d;
          text-decoration: none; }
        #headerwrap #head_navi_sp ul.head_contact_sp li span {
          font-size: 28px;
          font-size: 2.8rem;
          color: #26499d; }
        #headerwrap #head_navi_sp ul.head_contact_sp li .access_button {
          background-color: #26499d;
          border-radius: 2px;
          color: #fff;
          font-weight: bold;
          padding: 4px;
          font-size: 14px;
          font-size: 1.4rem; }
    #headerwrap ul.sp_menu_toggle {
      width: 200px;
      position: absolute;
      top: 70px;
      right: 10px;
      text-align: left;
      padding: 0px;
      border: 1px solid #524c3e;
      background: #fff;
      z-index: 100;
      display: none; }
      #headerwrap ul.sp_menu_toggle a {
        text-decoration: none;
        display: block;
        padding: 10px;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: bold;
        border-bottom: 1px solid #524c3e;
        color: #524c3e; }

  .fixed {
    position: fixed;
    background-color: #fdfcf9;
    border-top: 5px solid #26499d;
    padding-top: 10px;
    top: 0;
    width: 100%;
    z-index: 1000; }

  #cover_area {
    background-image: url("../images/top/top-heroimage_sp.jpg"); }
    #cover_area .cover_content {
      max-width: 100%;
      height: 320px;
      display: block;
      position: relative; }
      #cover_area .cover_content .cover_title_img {
        max-width: 100%; }
      #cover_area .cover_content .cover_title {
        padding: 20px 20px 0 20px;
        margin-top: 20px; }
      #cover_area .cover_content .readmore {
        margin-left: 10px; }
      #cover_area .cover_content .seal {
        text-align: right;
        margin: 50px 20px; }
        #cover_area .cover_content .seal .seal_pc {
          display: none; }
        #cover_area .cover_content .seal .seal_sp {
          display: block;
          position: absolute;
          width: 320px;
          bottom: 20px;
          right: 20px; }

  .wrap_issue {
    display: block;
    height: 260px;
    padding-top: 10px; }
    .wrap_issue .issue a {
      text-align: center;
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 1.5; }
    .wrap_issue .arrow {
      text-align: center;
      transform: rotate(90deg); }
    .wrap_issue .letscontact {
      text-align: center; }
      .wrap_issue .letscontact .underline {
        font-size: 18px;
        font-size: 1.8rem; }

  .top_sectiontitle {
    border-bottom: 4px solid #c9c9c9;
    height: 32px;
    font-size: 26px;
    font-size: 2.6rem; }

  .top_sectiontitle:after {
    border-bottom: solid 4px #26499d;
    bottom: -4px; }

  #detail_button {
    font-size: 16px;
    font-size: 1.6rem;
    width: 260px;
    height: 20px;
    margin: 20px auto;
    padding: 6px 0 0 0;
    border: 1px solid #333;
    border-radius: 24px;
    margin-bottom: 50px; }

  #survicecategory {
    margin: 40px 10px; }
    #survicecategory p.read {
      font-size: 14px;
      font-size: 1.4rem;
      padding: 10px 40px;
      line-height: 1.5; }
    #survicecategory .survice_wrap {
      display: none; }
    #survicecategory .survice_wrap_sp {
      display: block;
      text-align: left; }
      #survicecategory .survice_wrap_sp .survice {
        padding-left: 80px;
        height: 110px;
        background-color: #dcdcdc;
        padding-top: 20px;
        padding-right: 20px;
        margin-bottom: 10px; }
      #survicecategory .survice_wrap_sp a {
        display: block;
        text-decoration: none;
        color: #333; }
        #survicecategory .survice_wrap_sp a h3 {
          font-size: 18px;
          font-size: 1.8rem;
          margin-bottom: 10px; }
        #survicecategory .survice_wrap_sp a p {
          font-size: 14px;
          font-size: 1.4rem;
          line-height: 1.5; }
      #survicecategory .survice_wrap_sp .no1 {
        background-image: url("../images/top/corporate-icon.png");
        background-repeat: no-repeat; }
      #survicecategory .survice_wrap_sp .no2 {
        background-image: url("../images/top/marketing-icon.png");
        background-repeat: no-repeat; }
      #survicecategory .survice_wrap_sp .no3 {
        background-image: url("../images/top/prsupport-icon.png");
        background-repeat: no-repeat; }
      #survicecategory .survice_wrap_sp .no4 {
        background-image: url("../images/top/crisis-icon.png");
        background-repeat: no-repeat;
        background-position: 0 -10px; }

  #prmenu {
    max-width: 100%;
    margin: 60px 10px; }

  .prmenu_title p {
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0; }
  .prmenu_title .sikaku {
    height: 2px; }
  .prmenu_title h3 {
    font-size: 20px;
    font-size: 2rem;
    font-wight: bold;
    margin-bottom: 10px; }

  .menues_wrap li {
    width: 50%;
    height: 60px;
    border: 2px solid #fff;
    padding: 20px 10px 10px; }
  .menues_wrap a {
    font-size: 15px;
    font-size: 1.5rem; }

  #recommend {
    padding: 20px 10px; }

  .recommends_wrap {
    display: none; }

  .recommends_wrap_sp {
    display: block; }
    .recommends_wrap_sp .content_thumbnail {
      width: 100%;
      margin-bottom: 10px;
      padding: 0;
      background-color: #fff;
      height: 130px; }
      .recommends_wrap_sp .content_thumbnail img {
        height: 130px;
        text-align: left;
        float: left;
        margin-right: 10px; }
      .recommends_wrap_sp .content_thumbnail h3 {
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: bold;
        padding: 10px 20px 10px;
        text-align: left;
        line-height: 1.2; }
      .recommends_wrap_sp .content_thumbnail P {
        padding: 0 20px;
        line-height: 2rem;
        font-size: 15px;
        font-size: 1.5rem; }

  #news {
    display: none; }

  #news_sp {
    max-width: 100%;
    margin: 50px 20px 30px;
    text-align: center; }
    #news_sp h2 {
      margin-bottom: 20px; }
    #news_sp .news_block {
      text-align: left;
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 1.5;
      margin-bottom: 20px; }
      #news_sp .news_block .date {
        font-weight: bold;
        padding-bottom: 10px; }
      #news_sp .news_block .news_title {
        font-weight: bold; }

  #links {
    max-width: 100%;
    background: none;
    margin: 30px 10px;
    display: block;
    text-align: center;
    height: auto; }
    #links .link_banner_pc {
      display: none; }
    #links .link_banner_sp {
      display: block;
      text-decoration: none; }
      #links .link_banner_sp .tanabebanner_sp {
        max-width: 100%; }
      #links .link_banner_sp h3 {
        font-weight: bold;
        text-align: left;
        color: #333;
        font-size: 14px;
        font-size: 1.4rem;
        margin-bottom: 5px; }

  footer {
    margin-top: 80px; }
    footer .gotop {
      text-align: right;
      max-width: 1024px;
      margin: 0 20px 10px; }
    footer #footnavi {
      max-width: 100%;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      font-size: 20px;
      font-size: 2rem; }
      footer #footnavi .footwrap1, footer #footnavi .footwrap2 {
        display: none; }
      footer #footnavi .footwrap3 {
        display: block;
        margin-top: 20px; }
        footer #footnavi .footwrap3 .contact {
          border: 1px solid #fff;
          margin: 10px;
          padding: 20px 10px; }
          footer #footnavi .footwrap3 .contact span {
            font-size: 34px;
            font-size: 3.4rem; }
          footer #footnavi .footwrap3 .contact h2 {
            font-size: 30px;
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 10px; }
          footer #footnavi .footwrap3 .contact a {
            text-decoration: none;
            color: #fff; }
          footer #footnavi .footwrap3 .contact .time {
            font-size: 16px;
            font-size: 1.6rem; }
        footer #footnavi .footwrap3 img {
          margin: 20px 0 10px 0; }
        footer #footnavi .footwrap3 h1 {
          font-size: 14px;
          font-size: 1.4rem; }
        footer #footnavi .footwrap3 .policy {
          margin-top: 40px;
          font-size: 14px;
          font-size: 1.4rem; }
          footer #footnavi .footwrap3 .policy li {
            display: inline-block; }
          footer #footnavi .footwrap3 .policy a {
            text-decoration: none;
            color: #fff;
            padding: 3px 6px; }
          footer #footnavi .footwrap3 .policy li + li {
            border-left: #fff 1px solid; }
      footer #footnavi .copyright {
        text-align: center;
        margin-top: 30px;
        font-size: 14px;
        font-size: 1.4rem; } }

/*# sourceMappingURL=cocoknots.css.map */
