@charset "utf-8";

html{
    font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

$ja_font : "メイリオ", Meiryo UI , Meiryo,Osaka , YuGothic, "游ゴシック","ヒラギノ角ゴ Pro W3","HIragino Kaku Gothic Pro W3","HIragino Kaku Gothic Pro","ＭＳ Ｐゴシック", "MS P Gothic",sans-serif;
$blue1 : #26499d;
$blue2 : #8ba4de;
$blue3 : #4169e1;
$base_white : #fdfcf9;

body{
    font-family: $ja_font;
    color:#333;
    background-color: $base_white;
    @include fontsize(14);
    border-top: 5px solid $blue1;
    p {
       @include fontsize(15);
       line-height: 2;
    }
}

//header
#headerwrap {
        width: 96%;
        max-width: 1024px;
        margin: 0px auto 20px;
        display: flex;
        justify-content: space-between;

    #pc_title_logo {
        width: 20%;
        p {
            margin-top: 2px;
            @include fontsize(13);
        }
    }
    
    #sp_title_logo {
        display: none;
    }
    
    #head_navi {
        text-align: right;
        
        ul.head_contact_pc li {
            display: inline-block;
            @include fontsize(15);
            font-weight: bold;
            margin: 5px 0 20px 20px;
            color: $blue1;
            
            a{
                color: $blue1;
                text-decoration: none;
            }
            
            .access_button {
                background-color: $blue1;
                border-radius: 2px;
                color: #fff;
                padding: 1px 6px;
                @include fontsize(14);
            }
        }
        ul.head_nav {
            li {
                display: inline-block;
                @include fontsize(15);
                font-weight: bold;
                width: 160px;
                border-right: 1px solid #333;
                border-bottom: 2px solid $base_white;
                text-align: center;
                padding: 2px 0;
                position: relative;
            }
            
            a{
                color: #333;
                text-decoration: none;
            }
        
            li.about{
                border-left: 1px solid #333;
            }
            
            li:hover{
                border-bottom: 3px solid $blue2;
            }
        }
        
        ul.navichild {
            background-color: lighten( $blue2, 15% );
            border-top: 10px solid $base_white;
            position: absolute;
            width: 160px;
            padding: 7px 0;
            box-sizing: border-box;
            margin-top: 5px;
            display: none;

            
            li  {
            display: block;
            text-align: left;
            width: 180px;
            height: 20px;
            padding: 10px 0 0 10px;
            border-right: none;
            border-bottom: none;
            }
            
            li:hover {
                border-bottom: none;
            }
            
            a{
                @include fontsize(13);
                font-weight: normal;
            }
            
            a:hover {
                text-decoration: underline;
            }
        }
    } //nav#head_navi
    #head_navi_sp {
        display: none;
        }
}//#headerwrap

//　グロナビ固定
.fixed {
        position: fixed;
        background-color: $base_white;
        border-top: 5px solid $blue1;
        border-bottom: 1px solid lighten($blue1, 50%);
        padding-top: 10px;
        top: 0;
        width: 100%;
        z-index: 1000;
}

//cover area

    #cover_area {
        background-image: url("../images/top/knots_coverimage.jpg");
        background-position: center center;
        background-size: cover;
        
        .cover_content {
            width: 96%;
            max-width: 1024px;
            margin: 0 auto;
            height: 426px;
            
            .cover_title {
                padding-top: 40px;
                
                .readmore {
                    background-color: $blue1;
                    padding-top: 6px;
                    text-decoration: none;
                    color: #fff;
                    border-radius: 10px;
                    @include fontsize(14);
                    display: block;
                    width: 100px;
                    height: 20px;
                    text-align: center;
                    margin-top: 10px;
                }
                
                a:hover{
                    background-color: $blue2;
                }
            }
            
            .seal {
            text-align: right;
            
                .seal_sp {
                    display: none;
                }
            }
        }
    }

//課題から
#from_issue {
    background-color: $blue2;
}

.wrap_issue {
    height: 130px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

     .issue {
         text-align: right;
         margin: 0 10px;
         p{
             @include fontsize(16);
             color: #fff;
             font-weight: bold;
             line-height: 1;
             margin: 10px 0;
         }
     }
     
     .letscontact {
        margin: 0 20px;

        
        a{
            text-decoration: none;
            line-height: 1.5;
            color: #fff;
        }
     }
     .underline {
             @include fontsize(18);
             line-height: 2;
             font-weight: bold;
             border-bottom: 3px solid #fff;
     }
     
     .arrow  {
        margin: 0 20px;
     }
}

//トップページ　PRサービス
#survicecategory {
    max-width: 1024px;
    margin: 60px auto;
    text-align: center;
    
    p.read {
        margin: 20px 4px;
        @include fontsize(16);
    }
    .survicecate_title {
        a:hover {
            background-color: lighten($blue1 , 50%);
        }
    }
    
    .survice_wrap {
        display: flex;
        
        a:hover img { 
            opacity: .7;
        }
    
        .survice {
            width: 25%;
            margin: 20px;
            text-decoration: none;
            color: #333;
            
            h3.catename {
                @include fontsize(18);
                margin: 16px 0;
                color: $blue1;
                font-weight: bold;
            }
            
            p.catetext{
                line-height: 1.5;
                @include fontsize(14);
            }
        }
    }
    
   .survice_wrap_sp {
       display: none;
    }
}

.top_sectiontitle {
            border-bottom: 3px solid #c9c9c9;
            display: inline-block;
            position: relative;
            height: 40px;
            @include fontsize(36);
}

.top_sectiontitle:after {
position: absolute;
content: " ";
display: block;
border-bottom: solid 3px $blue1;
bottom: -3px;
width: 20%;
}

#detail_button {
        text-decoration: none;
        color: #333;
        @include fontsize(14);
        display: block;
        width: 200px;
        height: 20px;
        margin: 20px auto;
        padding: 7px 0 0 0;
        border: 1px solid #333;
        border-radius: 14px;
}


//トップページ　PRメニュー
#prmenu {
    width: 96%;
    max-width: 1024px;
    margin: 60px auto;
}
.prmenu_title  {
    margin-bottom: 15px;
    
    .sikaku , p , h3 {
        display: inline-block;
    }
    
    .sikaku {
        width: 20px;
        height: 2px;
        background-color: $blue1;
    }
    
    h3 {
        @include fontsize(20);
        font-weight: bold;
    }
    
    p {
        @include fontsize(15);
        margin-left: 20px;
    }
}

.menues_wrap {
    display: flex;
    flex-wrap: wrap;
    
    li {
        background-color: $blue1;
        width: 25%;
        height: 45px;
        border: 1px solid #fff;
        box-sizing: border-box;
        text-align: center;
        padding-top: 16px;
    }
    
    a {
        text-decoration: none;
        color: #fff;
        @include fontsize(15);
    }
    
    a:hover {
        color: $blue2;
    }
}

// トップページおすすめ
#recommend {
    background-color: $blue2;
    
    a{
        text-decoration: none;
        color: #333;
    }
}
.recommend_title {
    text-align: center;
    padding-top: 20px;
    @include fontsize(20);
    color: #fff;
}

.recommends_wrap {
    width: 98%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    .content_thumbnail_1,.content_thumbnail_2,.content_thumbnail_3 {
            width: 33.33%;
            margin: 20px 10px;
            background-color: #fff;
            box-shadow: 1px 1px 8px lighten($blue1, 20%);
            
            .content_thumbnail_image {
                height: 130px;
                text-align: center;
                img {
                    max-width: 100%;
                }
            }
            
            h3 {
                @include fontsize(18);
                padding: 20px;
                height: 20px;
                text-align: center;
                line-height: 1.2;
            }
            P {
                padding: 20px;
                line-height: 1.5;
                @include fontsize(14);
            }
    }
    .ribbon_over {
        position: relative;
    }
    p.ribbon {
        position: absolute;
        padding: 2px;
        top: 4px;
        left: -8px;
        background-color: $blue1;
        color: #fff;
        @include fontsize(12);
    }
    p.ribbon:before {
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        border: none;
        border-bottom: solid 10px transparent;
        border-right: solid 8px darken($blue1 , 50%);
    }
}

.recommends_wrap_sp {
    display: none;
}

//トップページ　お知らせ
#news {
    width: 96%;
    max-width: 1024px;
    margin: 50px auto 80px;
    text-align: center;
    
    .news_table{
        text-align: left;
        margin-top: 30px;
    }
    
    .news_table th {
        width: 120px;
        padding: 10px;
        @include fontsize(15);
    }
    .news_table td {
        line-height: 2rem;
        padding: 10px;
        span {
            font-weight: bold;
        }
    }
    a:hover {
            background-color: lighten($blue1 , 50%);
    
        
    }
}

#news_sp {
    display: none;
}

#links {
    max-width: 1024px;
    background: linear-gradient(90deg, #e5e5e5, #8ba4de, #e5e5e5);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    
    
         .link_banner_pc {
             display: inline-block;
             margin: 0 10px;
         }
         .link_banner_sp{
                 display: none;
             }
}

//footer
footer {
    margin-top: 50px;
    
    .gotop {
        text-align: right;
        width: 96%;
        max-width: 1024px;
        margin: 0 auto 10px;
    }

    .footercolor {
        background-color: $blue2;
    }

    #footnavi {
        width: 96%;
        max-width: 1024px;
        margin: 0 auto;
        padding: 20px 0;
        
        .footwrap1 {
            display: flex;
            justify-content: space-between;
            
            div {
                width: 23%;
                
                h3 {
                    color: #fff;
                    font-weight: bold;  
                    margin-bottom: 30px;
                    border-top: 1px solid #fff;
                    padding-top: 10px;
                }
                
                a {
                    display: block;
                    text-decoration: none;
                    color: #fff;
                    line-height: 3rem;
                }
                
                a:hover {
                    text-decoration: underline;
                }
                
                .tanabe {
                    color: #fff;
                    font-weight: bold; 
                    border-top: 1px solid #fff;
                    padding-top: 10px;
                    margin-top: 20px;
                    line-height: 2rem;
                }
            }
        }
        
        .footwrap2 {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            
            .policy {
                li {
                display: inline-block;
                }
                
                a {
                    text-decoration: none;
                    color: #fff;
                    padding: 3px 6px;
                    @include fontsize(12);
                }

            li + li {
                    border-left: #fff 1px solid;
                }
            }
            
            .foot_address {
                display: flex;
                width: 55%;
                
                p {
                    margin-left: 20px;
                    color: #fff;
                    line-height: 1.5rem;
                    @include fontsize(13);
                }
            }
        }
        
        .footwrap3 {
            display:none;
        }
        .copyright {
            text-align: right;
            margin-top: 10px;
            color: #fff;
            @include fontsize(13);
        }
        

}
}

/*企業案内ページ---------------------------
---------------------------------------------------*/

//パンくず（下層ページ共通）
    .max-width {
        width: 96%;
        max-width: 1024px;
        margin: 0 auto 8px;
    }
    
    .breadcrumb li{
      display:inline;/*横に並ぶように*/
      list-style: none;
      @include fontsize(12);
    }
    
    .breadcrumb li:after{/* >を表示*/
      content: '>';
      padding: 0 3px;
      color: $blue1;
    }
    
    .breadcrumb li:last-child:after{
      content: '';
    }
    
    .breadcrumb li a {
        text-decoration: none;
        color: $blue1;
    }
    
    .breadcrumb li a:hover {
        text-decoration: underline;
    }

//カバーエリア
    
    .cover_area_about {
        background-image: url("../images/about/cover_about.jpg");
        background-size: cover;
        height: 200px;

        @media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
          background-image: url("../images/about/cover_about@2x.jpg");
        }
    }
    
    .page_title {
        text-align: center;
        @include fontsize(30);
        color: #fff;
        font-weight: bold;
        padding-top: 100px;
        letter-spacing: 0.5rem;
        }

//2カラム設定（企業案内＆サービス共通）
    #content {
        width: 96%;
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        
        article {
            width: 75%;
        }
        
        aside {
            width: 25%;
        }
    }
    
//記事部分
    #content {

        .spirit {
            padding-right: 30px;
            h2{
                @include fontsize(23);
                color: $blue1;
                line-height: 1.5;
                border-left: 9px solid $blue1;
                padding-left: 10px;
                margin: 60px 0 30px 0;
            }
        
            p{
                @include fontsize(15);
                line-height: 2;
            }
            span{
                display: block;
                @include fontsize(18);
            }
            
            .yurai {
                margin-top: 20px;
                padding: 20px;
                border: 1px dashed #a9a9a9;
                border-radius: 3px;

                p{
                @include fontsize(14);
                line-height: 1.5;
                }
                
                h3 {
                    font-weight: bold;
                    margin-bottom: 5px;
                }
            }
            
            .require {
                margin-bottom: 40px;
                
                span{
                    @include fontsize(30);
                    display: inline;
                    padding-right: 20px;
                    padding-left: 10px;
                }
                h3 {
                    @include fontsize(20);
                    display: inline;
                    }
                p{
                    margin-top: 6px;
                    padding-top: 4px;
                    border-top: 1px solid #333;
                }

            }
        }
        
    //会社概要・コンタクト
        .about {
            padding-right: 30px;
            
            .companyprofile_wrap {
                margin: 50px 0 100px ;
                
                .about_subtitle {
                    @include fontsize(16);
                    color: $blue1;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                .companyprofile {
                    width: 100%;
                    tr{
                        border-bottom: 1px solid #a6a6a6;
                    }
                    th {
                        padding: 10px 0;
                        text-align: left;
                        font-weight: bold;
                        line-height: 1.5;
                    }
                    td{
                        vertical-align: middle;
                        padding: 10px;
                        line-height: 1.5;
                    }
                }
                .history th{
                    width:100px;
                }
                .exective_profile {
                    padding: 20px 30px 0px;
                    background-color: #e6e6e6;
                }
                .profile_wrap {
                    
                    margin-bottom: 30px;
                    padding-bottom: 20px;
                    border-bottom: 2px solid #fff;
                    
                    P {
                        line-height: 1.5;
                    }
                    
                    .name {
                        letter-spacing: 0.2rem;
                        margin-bottom: 10px;
                        
                        span{
                        @include fontsize(17);
                        }
                    }
                    
                    img {
                        float: right;
                        margin-left: 10px;
                    }
                    .biography {
                        clear: both;
                        background-color: #fff;
                        border-radius: 3px;
                        padding: 5px;
                        margin-top: 10px;
                        @include fontsize(12);
                    }
                }
                
                .map {
                    width: 100%;
                    height: 400px;
                    background-image: url(../images/about/map.svg);
                    background-repeat: no-repeat;
                    text-align: center;
                    line-height: 400px;
                    margin-bottom: 20px;
                }
                
                .entrance {
                    float: right;
                }
                .accesstext {
                    line-height: 1.5;
                    padding-left: 20px;
                    p {
                       margin-bottom: 8px;
                       @include fontsize(15);
                       color: $blue1;
                       span{
                           background-color: $blue1;
                           padding: 1px 15px;
                           border-radius: 14px;
                           color: #fff;
                           @include fontsize(12);
                           line-height: 2;
                       }
                    }
                }
                
                .contact {
                    border: 1px solid $blue1;
                    margin: 10px 0;
                    padding: 20px 10px;
                    color: $blue1;
                    height: 60px;
                    text-align: center;
                    
                    span {
                       @include fontsize(34); 
                    }
                    h2 {
                        @include fontsize(30); 
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                    a {
                        text-decoration: none;
                        color: $blue1;
                    }
                    .time {
                        @include fontsize(16); 
                    }
                    .mail {
                         @include fontsize(24); 
                         margin-top: 10px;
                    }
                    .mailp {
                        line-height: 1;
                    }
                }
            }
            
        }
    }
    
//サイドバー
    #sidebar{
        #sidemenu {
            margin-top: 50px;
            margin-left: 20px;
            
            a{
                text-decoration: none;
                color: #333;
                line-height: 1.5;
                @include fontsize(13);
    
                li{
                    border-bottom: 1px #a9a9a9 solid;
                    padding: 10px;
                    background-image: url("../images/common/allowright.png");
                    background-repeat: no-repeat;
                    background-position: 95% 50%;
                    background-color: $base_white;
                }
                
                li.sidemenu_bottom {
                    border-bottom: 0px #a9a9a9 solid;
                }
                
                li.sidemenu_top {
                    border-top: 1px #a9a9a9 solid;
                }
            }
            a:hover {
                li {
                    background-color: #ededed;
                }
            }
            
            .sidemenucate1 {
                background-color: lighten($blue1 , 50%);
                padding: 10px 5px;
                border: none;
            }
            
            .sidemenucate2 {
                background-color: lighten($blue1 , 50%);
                padding: 10px 5px;
                border: 1px solid #fff;
            }
        }
    }
    
/*サービスページ---------------------------
---------------------------------------------------*/
//カバーエリア
    .cover_area_survice {
        /*
        background-image: url("../images/survice/prsurvicecover.jpg");
        background-size: cover;
        height: 200px;

        @media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
          background-image: url("../images/survice/prsurvicecover@2x.jpg");
        }
        */
        
        .page_title {
            text-align: center;
            @include fontsize(30);
            color: $blue1;
            font-weight: bold;
            padding-top: 100px;
            letter-spacing: 0.5rem;
        }
    }
    .cover_area_corporatepr {
        background-image: url("../images/survice/corporatehero.jpg");
        background-size: cover;
        height: 200px;
        
        @media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
          background-image: url("../images/survice/corporatehero@2x.jpg");
        }
    }
    .cover_area_marketingpr {
        background-image: url("../images/survice/marketinghero.jpg");
        background-size: cover;
        height: 200px;
        
        @media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
          background-image: url("../images/survice/marketinghero@2x.jpg");
        }
    }
    .cover_area_hospitalpr {
        background-image: url("../images/survice/hospitalhero.jpg");
        background-size: cover;
        height: 200px;
        
        @media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
          background-image: url("../images/survice/hospitalhero@2x.jpg");
        }
    }
    .cover_area_crisispr {
        background-image: url("../images/survice/crisishero.jpg");
        background-size: cover;
        height: 200px;
        
        @media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
          background-image: url("../images/survice/crisishero@2x.jpg");
        }
    }
//PRサービス全体ページ    
    .prsurvice {
        padding: 60px 30px 0 0;
        .survicecategory {
            p {
                background-color: $blue2;
                color: #fff;
                margin-bottom: 10px;
                padding-left: 5px;
            }
            .categoryicons {
                display: flex;
                flex-wrap: wrap;
                li {
                    width: 183px;
                    height: 100px;
                    text-align: center;
                    margin-bottom: 10px;
                    img , a {
                        display: block;
                        text-decoration: none;
                        color: $blue1;
                        font-weight: bold;
                    }
                    a:hover {
                        background-color: $blue2;
                    }
                }
            }
        }
        .prmenu {
            p {
                color: $blue1;
                font-weight: bold;
            }
            .prmenuicons {
                display: flex;
                li {
                    width: 127px;
                    text-align: center;
                    background-color: $blue1;
                    border-right: 1px solid $base_white;
                    padding: 10px 0;
                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                    
                }
            }
        }
        .read {
            color: $blue1;
            margin-bottom: 20px;
            @include fontsize(20);
            line-height: 1.5;
        }
        h2 {
            @include fontsize(26);
            margin-bottom: 5px;
            span {
                padding-right: 10px;
            }
        }
        h3 {
            @include fontsize(20);
            color: $blue1;
            line-height: 2;	
            font-weight: bold;
        }
        h4 {
            margin: 20px 0 5px;
            @include fontsize(18);
            color: $blue1;
        }
        .survicedescription {	
            display: flex;	
            flex-wrap: wrap;	
            margin-bottom: 100px; 
            a {	
                width: 50%;	
                display: block;	
                text-decoration: none;	
                padding: 5px;	
                box-sizing: border-box; 
            }
            p {	
                color: #333;	
                line-height: 1.5; 
            }
            li {	
                padding: 10px;	
                border: 1px solid $blue2;
            }
            .corporatepr {	
                background-image: url("../images/survice/corporateimage.jpg");	
                background-color: rgba(0, 0, 0, 0.5); 
            }
            .marketingpr {	
                background-image: url("../images/survice/marketingimage.jpg");	
                background-color: rgba(0, 0, 0, 0.5); 
            }
            .hospitalpr {	
                background-image: url("../images/survice/hospitalimage.jpg");	
                background-color: rgba(0, 0, 0, 0.5); 
            }
            .crisispr {	
                background-image: url("../images/survice/crisisimage.jpg");	
                background-color: rgba(0, 0, 0, 0.5); 
            }
        }
         .survicemenu {	
            overflow: hidden;	
            margin: 10px 0 30px 0; 
                h3 {
                    @include fontsize(18);
                    border-color: $blue1;	
                    border-style: solid;	
                    border-width: 1px 0;
                    margin-bottom: 10px;
                }
                p {
                    line-height: 1.8;
                }
                .note {
                    padding: 20px 0;
                    color: #26499d;	
                    font-size: 12px;	
                    font-size: 1.2rem;
                }
         }
         .photo_left{
            img {
            float: left;	
            margin: 0 20px 20px 0;
            }
            .note {
                padding: 10px;	
                margin-left: 275px;	
                margin-top: 10px;	
                background-color: #e6e6e6;	
                border-radius: 6px;
            }
        }
        #release_description , #seminar_description , #training_description , 
        #tour_description , #forum_description , #ad_description , #creative_description , 
        #lecturer_description {
            margin-top: -113px;
            padding-top: 113px;
        }
        
        .flow , .contract {
            margin-top: 30px;
            
            table {

                tr {
                    
                    border: 1px solid $blue1;
                    th {
                        width: 200px;
                        padding: 15px;
                    }
                    td {
                        padding: 15px;
                    }
                }
            }
        }
        
    }
//個別サービスページ
  .eachsurvice {
      margin-top: 80px;
      padding-right: 30px;
      h2 {
        @include fontsize(30);
        color: $blue1;
        font-weight: bold;
        margin-bottom: 20px;
      }
      p{
        @include fontsize(15);
        line-height: 2;
      }
  }
  .more_detailsmenu {
      background-color: $blue2;
      padding: 10px;
      margin-top: 40px;
      ul li{
        background-color: #fff;
        padding: 20px;
        margin-bottom: 10px;
      }
      h2{
        @include fontsize(16);
        color: $blue1;
        font-weight: bold;
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid ;
      }
      p{
        @include fontsize(14);
        line-height: 1.5;
      }
  }
  .strong {
    margin-top: 20px;
    padding: 20px;
    h2{
      @include fontsize(18);
      color: #fff;
      position: relative;
      padding: .5em .75em;
      background-color: $blue1;
      border-radius: 6px;
    }
    
    h2::after {
      position: absolute;
      top: 100%;
      left: 30px;
      content: '';
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top: 15px solid $blue1;
    }
    
    h3 {
      @include fontsize(16);
      font-weight: bold;
      margin-bottom: 10px;
      padding-left: 10px;
    }
    
    p {
        padding-left: 10px;
    }
  }
 

    
/*代表ブログ---------------------------
---------------------------------------------------*/
//カバーエリア
    .cover_area_kimiblog {
        background-image: url("../images/blog/kimiblog-cover.jpg");
        background-size: cover;
        height: 200px;

        @media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
          background-image: url("../images/blog/kimiblog-cover@2x.jpg");
        }
        
        .cover_title_kimi{
            width: 96%;
            max-width: 1024px;
            margin: 0 auto; 
        }  
        
        
        .page_title {
            text-align: left;
            @include fontsize(30);
            color: #fff;
            padding-top: 40px;
            letter-spacing: 0.5rem;
        }
        
        img {
            margin-top: 20px;
            float: left;
        }
        
        p{
            color: #fff;
            margin: 70px 0 0 110px;
            line-height: 1.5;
            letter-spacing: 0.2rem;
        }
    }
    
//2カラム設定 （ブログページ）
    #content {
        justify-content: space-between;
        
        #blog {
            max-width: 700px;
        }
        .widget {
            width: 240px;
        }
    }
    
    
//ブログ部分
    #blog {
        margin-top: 50px;
            
        .date , .kimiblogcate {
            margin-left: 30px;
            @include fontsize(12);
            line-height: 3;
        }
        .kimiblogcate , .lunchblogcate {
                padding: 0 10px;
                width: 60px;
                height: 17px;
                line-height: 17px;
                text-align: center;
                border : 1px solid #333;
                border-radius: 10px;
                @include fontsize(11);
            }
        
        .blog-title {
            
            img{
                float: left;
                margin-bottom: 10px;
            }
            h2 {
                @include fontsize(26);
                font-weight: bold;
                padding: 30px 0 50px 270px;
            }
            
            p {
                clear: both;
                border-top: 1px solid #333;
                padding-top: 40px;
                line-height: 2;
                letter-spacing: 0.1rem;
            }
        }
        
        
        .page_navi {
            text-align :center;
            margin-top: 50px;
            
            a {
                text-decoration: none;
                color: #333;
                width: 180px;
                height: 20px;
                line-height: 20px;
                border: 1px solid #a6a6a6;
                padding: 10px 30px;
                display: inline-block;
            }
            .goprevious {
                text-align: right;
            }
            .gonext {
                text-align: left;
            }
            
            .goindex {
                margin-top: 20px;
                width: 100px;
                height: 14px;
                line-height: 14px;
                padding: 5px;
                border-radius: 6px;
            }
        }
        
        .snsbutton {
            text-align: center;
            margin-top: 30px;
        }
        
    }
    
//ウィジェット
.widget {
    box-sizing: border-box;
    padding-left: 20px;
    margin-top: 50px;
    
    .widget-item {
        height: 200px;
        background-color: #c5c5c5;
        margin-bottom: 10px;
    }
    
    .gotococolunch {
        margin-top: 20px;
        text-decoration: none;
        color: #fff;
        background-color: #e44da1;
        text-align: center;
        height: 20px;
        line-height: 20px;
        padding: 10px;
        display: block;
    }
    .gotokimiblog{
        margin-top: 20px;
        text-decoration: none;
        color: #fff;
        background-color: #00a0e9;
        text-align: center;
        height: 20px;
        line-height: 20px;
        padding: 10px;
        display: block;
    }
}

//一覧ページ
#blog {
    
    .blog-index {
        
        img {
            float: right;
            margin-bottom: 20px;
        }
        li {
            clear: both;
            border-bottom: 1px solid #c5c5c5;
            height: 110px;
            
            a {
                text-decoration: none;
                color: #333;
            }
        }
        
        span {
            margin: 0;
        }

        h3 {
            @include fontsize(16);
            font-weight: bold;
            padding: 15px 0;
        }
        .kimiblogcate , .lunchblogcate {
            @include fontsize(11);
        }
    }
    
    #detail_button {
        height: 12px;
        line-height: 12px;
        border-radius: 20px;
    }
}

//コラム一覧ページ
.cover_area_blog {
    .page_title {
        box-sizing: border-box;
        background-color: $blue2;
        height: 120px;
        padding-top: 50px;
    }
    
    .blog_navi {
        text-align: center;
        box-sizing: border-box;
        background-color: $blue1;
        height: 60px;
        padding-top: 15px;
        a {
           text-decoration: none;
           display: inline-block;
           color:#fff;
           height: 30px;
           line-height: 30px;
           background-color: lighten($blue1, 15%);
           padding: 0 20px;
           margin: 0 10px;
           border-radius: 4px;
        }
    }
}

#blogindex_wrap {
    max-width: 1024px;
    margin: 50px auto;

    .blogindex {
        display: flex;
        flex-wrap: wrap;
        
        li {
            width: 33.33%;
            
            img {
                width: 100%;
            }
            
            a {
                background-color: #fff;
                display: block;
                margin: 3%;
                box-shadow: 1px 1px 5px #a6a6a6;
                text-decoration: none;
                color: #333;
                
                .text {
                    padding: 15px;
                    
                    .blogname {
                        background-color: #00a0e9;
                        border-radius: 6px;
                        @include fontsize(11);
                        text-align: center;
                        color: #fff;
                        padding: 0 10px;
                        height: 16px;
                        line-height: 16px;
                    }
                    
                    h2{
                        @include fontsize(16);
                        margin: 10px 0;
                        font-weight: bold;
                    }
                    
                    p {
                         @include fontsize(13);
                         line-height: 1.5;
                         margin-bottom: 20px;
                    }
                    .date {
                        @include fontsize(12);
                    }
                    .coco {
                        background-color: #e44da1;
                    }
                }
            }
        }
    }
    
    #detail_button {
        text-align: center;
    }
}

/*ココランチ---------------------------
---------------------------------------------------*/
//カバーエリア
    .cover_area_cocolunch {
        background-image: url("../images/blog/cocolunch.jpg");
        background-size: cover;
        height: 200px;

        @media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
          background-image: url("../images/blog/cocolunch@2x.jpg");
        }
    }

//一覧ページ
    #blog {
        .lunchread {
            padding: 15px;
            border: 1px solid #a9a9a9;
            margin-bottom: 50px;
            border-radius: 3px;
        }
        .catorary {
            padding-left: 20px;
        }
    }
    
    .restaurant_name {
        font-weight: bold;
        @include fontsize(17);
        padding: 15px 0 5px;
    }

//ランチ個別ページ
    .lunchblog-title {
        border-bottom: 1px solid #a9a9a9;
        padding-bottom: 20px;
        h2 {
            padding: 0 0 30px 0;
            @include fontsize(26);
            font-weight: bold;
        }
    }
    
    .restaurant_text {
        margin: 30px 0;
    }
    
    .cap {
        @include fontsize(12);
    }
    
    #blog .lunchblog-title span {
        margin-left: 0;
    }
    
    .restaurant_info{
        margin: 30px 0;
        padding: 10px;
        border: 1px solid #a9a9a9;
        img {
            float: left;
        }
        p{
            margin-left: 304px;
            @include fontsize(14);
            line-height: 1.5;
            }
    }
    
    .restaurant_info_name {
        @include fontsize(16);
        font-weight: bold;
        display: block;
        margin: 20px 0 10px;
    }
    
    .restaurant_info:after {
       display: block;
       clear: both;
       content: "";
    }

/*PRとはページ---------------------------
---------------------------------------------------*/
//カバーエリア
.cover_area_whatispr {
        background-image: url("../images/whatispr/whatisprcover.jpg");
        background-size: cover;
        height: 200px;

        @media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
          background-image: url("../images/whatispr/whatisprcover@2x.jpg");
        }
    }

.whatispr_navi_area{
    background-color: $blue1;
    height: 60px;
    
    .whatispr_navi {
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    
    
        li {
            display: inline-block;
            box-sizing: border-box;
            padding: 20px 0;
            background-color: lighten($blue1, 20%);
            width: 240px;
            height: 50px;
            margin: 5px 10px;
            border-radius: 6px;
            text-align: center;
        }
    
        a {
            text-decoration: none;
            color: #fff;
        }
        .a2l {
            padding: 7px 0;
            line-height: 1.3;
        
            span {
                @include fontsize(10);
            }
        }
    }
}

//PRとは
#content_whatispr {
    width: 758px;
    margin: 50px auto;
    
    h2 {
        margin: 20px 0 10px;
        @include fontsize(26);
        span {
            padding-right: 10px;
        }
    }
    p {
        @include fontsize(16);
        line-height: 2;
        margin-bottom: 50px;
        .teigi {
            margin-top: 20px;
            display: block;
            border: 1px dashed #333;
            padding: 10px;
            @include fontsize(15);
            .source {
            @include fontsize(12);
            padding-left: 20px;
            }
        }
        .bold {
            font-weight: bold;
        }
    }
}

//PRQ&A
#content_prqa {
    width: 758px;
    margin: 50px auto;
    
    .read {
        margin-bottom: 30px;
        line-height: 1.5;
    }
    
    .q_area {
        width: 758px;
        box-sizing: border-box;
        background-color: #eee;
        padding: 50px;
        color: $blue1;
        @include fontsize(16);
        
        .q_list {
            width: 100%;
            
        tr {
            border-bottom: 1px solid $blue1;
            
            th,td {
                padding: 15px 5px;
                line-height: 1.2;
                
                a{
                    text-decoration: none;
                    color: $blue1;
                    
                    &:hover {
                        color: $blue3;
                    }
                }
            }
            
            th {
                font-weight: bold;
            }
        }
        
        th:after{ /* borderを表示*/
          content: '';
          padding: 0 5px;
          border-right: 1px solid $blue1;
        }
        }
    }
    .qnumber {
        text-align: center;
        margin-bottom: 20px;
        
        p{
            @include fontsize(22);
            padding: 0 10px 5px;
            border-bottom: 5px solid $blue1;
            width: 50px;
            display: inline-block;
        }
    }
    .a_letter {
            @include fontsize(20);
            margin-bottom: 20px;
    }
    
    h2 {
        text-align: center;
        @include fontsize(18);
        font-weight: bold;
        line-height: 2;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    
    h3 {
         @include fontsize(15);
         color: $blue1;
        line-height: 2;
        padding-bottom: 10px;
        border-bottom: 1px solid $blue1;
        margin-bottom: 40px;
    }
    
    p{
        .bold {
            font-weight: bold;
        }
    }
    
    .page_navi {
        text-align: center;
        margin-top: 50px;
        
        .pnaviarea{
            display: inline-block;
            width: 400px;
            height: 50px;
            background-color: #eee;
            padding-top: 10px;
        }
        .goindex {
                display: inline-block;
                margin-top: 20px;
                width: 100px;
                height: 14px;
                line-height: 14px;
                padding: 5px;
                border-radius: 6px;
                border: 1px solid #333;
                text-decoration: none;
                color: #333;
            }
    }
}

//PR3.0 , Q's
#content_pr3 , .qs_read {
    width: 758px;
    margin: 50px auto;
    
    h2 {
        @include fontsize(50);
        font-weight: bold;
        margin-bottom: 30px;
    }
    
    .small {
        @include fontsize(12);
        line-height: 1;
    }
    
    .bold {
        font-weight: bold;
        @include fontsize(17);
        line-height: 3;
    }
}
.content_qs {
    width: 944px;
    margin: 50px auto 0;
    display: flex;
    
    .qs_read {
    width: 50%;
    margin: 0;
    padding-right: 10px;
    }
    .qs_logo {
    width: 20%;
    padding: 0 10px;
    }
    .qsimage {
    width: 30%;
    margin-top: 120px;
    }
}
.qs_info {
    width: 944px;
    margin: 0 auto 20px;
    padding: 20px;
    display: flex;
    
    .midashi , .midashi_2 {
        width: 20%;
        margin-right: 50px;
        text-align: center;
        height: 30px;
        font-weight: bold;
    }
    
    .midashi {
        color: #fff;
        background-color: $blue1;
    }
    
    .midashi_2 {
        border: 1px solid $blue1;
        color: $blue1;
    }
    
    .qs_title {
        @include fontsize(20);
    }
    .qs_new {
        font-weight: bold;
        
        .button {
            text-decoration: none;
            background-color: #fff;
            border-radius: 16px;
            padding: 10px;
            display: block;
            width: 100px;
            margin-top: 20px;
        }
    }
    .qs_past {
        border-bottom: 1px solid #333;
        padding: 10px 0;
        p {
            line-height: 1.5;
        }
    }
    .qs_past_title {
        font-weight: bold;
    }
}
.qs_info_new {
    background-color: lighten($blue2 , 15%);
}

/*お知らせページ------------------------------------------------
------------------------------------------------------*/
.cover_area_news {
        background-color: $blue2;
        height: 120px;
        
        .page_title {
            padding-top: 60px;
        }
    }

.news {
    margin: 50px 30px 50px 0;
    .news_table {
        width: 100%;
        tr {
            border-bottom: 1px solid #a9a9a9;
            padding: 5px;
        }
        th {
            padding: 10px 0;
            text-align: left;
            font-weight: bold;
            line-height: 1.5;
            width: 100px;
        }
        td{
            vertical-align: middle;
            padding: 10px;
            line-height: 1.5;
            span {
                font-weight: bold;
            }
        }
    }
    
} 


    
/* mobile 設定 toppage----------------------------------------
------------------------------------------------------*/
@media (max-width: 767px) {
    
    //ヘッダー(mobile)
    #headerwrap {
        width: 100%;
        padding: 0 10px;
        margin: 0;
        box-sizing: border-box;
        
        #pc_title_logo {
            display: none;
        }
    
        #sp_title_logo {
            display: block;
            width: 50%;
            p {
                margin-top: 0;
                @include fontsize(14);
            }
        }
        
        #head_navi {
            display: none;
        }
        
        #head_navi_sp {
            display: block;
            padding-top: 5px;
            
            ul.head_contact_sp li {
                display: inline-block;
                padding: 0;
                vertical-align: middle;
                
                a{
                    color: $blue1;
                    text-decoration: none;
                }
                span {
                        @include fontsize(30);
                        color: $blue1;
                        baseline-shift: 5px;
                    }
                
                .access_button {
                    background-color: $blue1;
                    border-radius: 2px;
                    color: #fff;
                    font-weight: bold;
                    @include fontsize(14);
                    padding: 5px;
                }
            }
        }
        
        //toggle button(mobile)
        ul.sp_menu_toggle {
            width: 100%;
            position: absolute;
            top: 80px;
            right: 0px;
            text-align: left;
            padding: 0px;
            border: 1px solid #a9a9a9;
            background: #fff;
            z-index: 100;
            display: none;
            
            a {
                text-decoration: none;
                display: block;
                padding: 14px;
                @include fontsize(14);
                border-bottom: 1px solid #a9a9a9;
                color: #524c3e;
            }
        }
    } 
    

        
    //カバーエリア(mobile)
    #cover_area {
        background-image: url("../images/top/top-heroimage_sp.jpg");
        
        .cover_content {
            max-width: 100%;
            height: 320px;
            display: block;
            position: relative;
            
                .cover_title_img {
                    max-width: 100%;
                }
                
                .cover_title {
                    padding: 20px 20px 0 20px;
                    margin-top: 20px;
                }
        
                .readmore {
                    margin-left: 10px;
                }
                
                .seal {
                    text-align: right;
                    margin: 50px 20px;

                    
                    .seal_pc {
                        display: none;
                    }
                    
                    .seal_sp {
                        display: block;
                        position: absolute;
                        width: 260px;
                        bottom: 20px;
                        right: 20px;
                    }
                }
        }
    }
    
    .cover_area_about {
        background-image: url("../images/top/cover_about_sp.jpg");
        background-size: cover;
        height: 150px;
        
        @media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
         background-image: url("../images/about/cover_about_sp@2x.jpg");
        }
        
        .page_title {
            padding: 75px 0;
        }
    }
    
    //課題から(mobile)
    .wrap_issue {
        display: block;
        height: 240px;
        padding: 10px 0;
        text-align: center;
        
        .issue {
            text-align: center;
            @include fontsize(15);
            line-height: 1.2;
        }
        
        .arrow {
            text-align: center;
            transform: rotate( 90deg );
        }
        
        .letscontact {
            text-align: center;

            .underline {
            @include fontsize(18);
            }
        }
    }
    
    //PRサービス（mobile)
    .top_sectiontitle {
            border-bottom: 4px solid #c9c9c9;
            height: 32px;
            @include fontsize(26);
    }

    .top_sectiontitle:after {
    border-bottom: solid 4px $blue1;
    bottom: -4px;
    }

    #detail_button {
        @include fontsize(16);
        width: 260px;
        height: 20px;
        margin: 20px auto;
        padding: 6px 0 0 0;
        border: 1px solid #333;
        border-radius: 24px;
        margin-bottom: 50px;
    }
    
    #survicecategory {
        margin: 40px 10px;
    
        p.read {
            @include fontsize(16);
            padding: 10px 5px;
            line-height: 1.5;
        }
        
        .survice_wrap {
            display: none;
        }
        
        .survice_wrap_sp {
            display: block;
            text-align: left;
            
            .survice {
                padding-left: 80px;
                height: 75px;
                background-color: #dcdcdc;
                padding-top: 10px;
                padding-right: 20px;
                margin-bottom: 10px;
            }
            a {
                display: block;
                text-decoration: none;
                color: #333;
                
                h3 {
                    @include fontsize(18);
                    margin-bottom: 5px;
                }
                
                p {
                    @include fontsize(14);
                    line-height: 1.5;
                }
            }
            .no1 {
                background-image: url("../images/top/corporate-icon.png");
                background-repeat: no-repeat;
                background-position: 5% 50%;
            }
            .no2 {
                background-image: url("../images/top/marketing-icon.png");
                background-repeat: no-repeat;
                background-position: 5% 50%;
            }
            .no3 {
                background-image: url("../images/top/hospital-icon.png");
                background-repeat: no-repeat;
                background-position: 5% 50%;
            }
            .no4 {
                background-image: url("../images/top/crisis-icon.png");
                background-repeat: no-repeat;
                background-position: 5% 50%;
            }            
        }
    }

    //PRメニュー(mobile)
    #prmenu {
        max-width: 100%;
        margin: 50px 10px;
    }
    .prmenu_title  {
        
        p {
            display: block;
            @include fontsize(13);
            margin: 0;
        }
        
        .sikaku {
            height: 2px;
        }
        
        h3 {
            @include fontsize(20);
            font-wight: bold;
            margin-bottom: 10px;
        }
    }
    
    .menues_wrap {
        
        li {
            width: 50%;
            height: 60px;
            border: 2px solid #fff;
            padding: 20px 10px 10px;
        }
        
        a {
            @include fontsize(13);
        }
    }

    //おすすめ(mobile)
    #recommend {
        padding: 10px 10px;
        height: 470px;
        .recommend_title {
            padding: 5px 0 10px;
        }
    }
    .recommends_wrap {
        display: none;
    }
    
    .recommends_wrap_sp {
        display: block;
        
        .content_thumbnail {
            display: block;
            margin-bottom: 10px;
            clear: both;
                
                img {
                    height: 130px;
                    text-align: left;
                    margin: 0 10px 10px 0;
                    float: left;
                }
                
                h3 {
                    @include fontsize(16);
                    font-weight: bold;
                    text-align: left;
                    line-height: 1.2;
                    margin-bottom: 10px;
                    }
                    
                P {
                    line-height: 2rem;
                    @include fontsize(15);
                }
        }
    }
 
     //お知らせ(mobile)
    #news {
        display: none;
    } 
    
    #news_sp {
        max-width: 100%;
        margin: 50px 20px 30px;
        text-align: center;
        
        h2 {
            margin-bottom: 20px;
        }
        
        .news_block {
            text-align: left;
            @include fontsize(16);
            line-height: 1.5;
            margin-bottom: 20px;
            
            .date {
                font-weight: bold;
                padding-bottom: 10px;
            }
            .news_title {
                font-weight: bold;
            }
        }
    }
    
    #links {
    max-width: 100%;
    background: none;
    margin: 30px 10px;
    display: block;
    text-align: center;
    height: auto;
         
        .link_banner_pc {
            display: none;
        }
            
        .link_banner_sp{
            display: block;
            text-decoration: none;
            
            .tanabebanner_sp {
                max-width: 100%;
            }
            h3 {
            font-weight: bold;
            text-align: left;
            color: #333;
            @include fontsize(14);
            margin-bottom: 5px;
            }   
        }
    }
    
    //footer(mobile)
    footer {
        margin-top: 60px;

    #footnavi {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        @include fontsize(20);
        
        .footwrap1, .footwrap2 {
            display: none;
            }
        
        .footwrap3 {
            display: block;
            margin-top: 20px;
            
            .contact {
                border: 1px solid #fff;
                margin: 10px;
                padding: 20px 10px;
                
                span {
                   @include fontsize(34); 
                }
                h2 {
                    @include fontsize(30); 
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                a {
                    text-decoration: none;
                    color: #fff;
                }
                .time {
                    @include fontsize(16); 
                }
            }
            
            img {
                margin: 20px 0 10px 0;
            }
            h1 {
                @include fontsize(14); 
            }
            
            .policy {
                margin-top: 40px;
                @include fontsize(14); 
                li {
                display: inline-block;

                }
                
                a {
                    text-decoration: none;
                    color: #fff;
                    padding: 3px 6px;
                }

                li + li {
                        border-left: #fff 1px solid;
                    }
            }
        }
        
        .copyright {
            text-align: center;
            margin-top: 30px;
            @include fontsize(14);
        }
    }
    }
    
    /*企業理念ページ以下（mobile）--------------------*/
    
    //1カラム設定
    #content {
        display: block;
        
        article {
            width: 100%;
        }
        
        #sidebar {
            width: 100%;
            #sidemenu {
                margin-left: 0;
            }
        }
        
        .spirit , .about {
            padding-right: 0;
            width: 100%;
            h2 {
                @include fontsize(20);
                margin: 30px 0 20px;
            }
            p {
                line-height: 1.5;
            }
            .require {
                margin-bottom: 20px;
                h3 {
                    @include fontsize(16);
                }
                span {
                    @include fontsize(26);
                    padding-right: 10px;
                    padding-left: 5px;
                }
            }
            .companyprofile_wrap {
                margin-bottom: 50px;
                .companyprofile {
                    th {
                        width: 80px;
                    }
                }
                .map {
                    height: 250px;
                    margin: 0;
                }
                .accesstext {
                    padding: 0;
                }
                .entrance {
                    float: none;
                    margin-bottom: 10px;
                }
            }
            .otoiawase_sp {
                display: none;
            }
        }

    }
    
    
}